<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Default: cache static content for 1 year -->
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			<!-- MIME for wasm and binaries -->
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<!-- support pre-compressed files if you produce them -->
			<remove fileExtension=".br" />
			<mimeMap fileExtension=".br" mimeType="application/octet-stream" />
			<remove fileExtension=".gz" />
			<mimeMap fileExtension=".gz" mimeType="application/octet-stream" />
		</staticContent>

		<!-- handlers: let IIS serve static files, and also forward to ASP.NET Core -->
		<handlers>
			<clear />
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- asp.net core hosting -->
		<aspNetCore processPath=".\KomaeiSample.Server.exe"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />
	</system.webServer>

	<!-- Do not long-cache index.html (browser must be able to detect new app shell or SW) -->
	<location path="index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>

	<!-- Do not long-cache the service worker JS itself (browser checks service-worker.js for updates) -->
	<location path="service-worker.js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>