<div class="d-flex justify-content-center container mt-1">
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Size="Size.Large" Class="w-50">
        ارسال
    </MudButton>
</div>