@using KomaeiSample.Client.Configs

<nav class="navbar navbar-expand-md bg-pr" style="min-height:65px">
    <div class="container-fluid">
        <!-- دکمه همبرگری -->
        <button class="navbar-toggler d-md-none text-success btn-close-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <MudIcon Icon="@Icons.Material.Filled.Menu" Color="Color.Success"></MudIcon>
        </button>

        <!-- Desktop navbar menu -->
        <section class="container-fluid d-md-block d-none responsive-width">
            <div class="d-flex justify-content-between align-items-center flex-nowrap" style="min-width:0;">
                <div class="d-flex align-items-center flex-nowrap" style="min-width:0;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link offcanvas-close" href="/">محصولات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link offcanvas-close" href="Test">تست</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Mobile Offcanvas  -->
        <div class="offcanvas offcanvas-end d-md-none w-75 bg-pr" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="offcanvas-header ms-1 mt-2">
                <button type="button" class="btn-close btn-close-white" style="margin-right:1px" data-bs-dismiss="offcanvas" aria-label="بستن" title="بستن"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column">
                <ul class="navbar-nav">
                    <li class="nav-item mb-4 mt-2">
                        <a class="nav-link-mobile" href="/">محصولات</a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link-mobile" href="Test">تست</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>