a {
    color: white !important;
}

    a:hover {
        font-weight: bold;
        color: white !important;
    }

.navbar .nav-link.active:hover {
    font-weight: bold;
    color: white !important;
}


.active {
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: white !important;
}

    .active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 4px;
        background-color: limegreen;
        border-radius: 2px;
    }

li {
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
