@page "/ContactUs"
<PageHeader Title="تماس با ما" Icon="@Icons.Material.Filled.SupportAgent" />

<MudText Align="Align.Center" Class="bg-pr fw-bold mb-6 mt-10 py-1 text-white" Style="width:200px" Typo="Typo.h6">
    تماس با ما
</MudText>

<MudGrid Class="mb-10">
    <MudItem sm="7" xs="12" Class="d-flex flex-column justify-start">
        <MudGrid Class="mt-2" Spacing="2">
            <MudItem xs="12" sm="3">
                <div class="yellow">
                    ساعات کاری
                </div>
            </MudItem>
            <MudItem xs="12" sm="9">
                <div style="font-size: 17px; line-height: 1.7;">
                    شنبه تا چهارشنبه از ساعت ۹:۰۰ صبح تا ۷:۰۰ بعدازظهر<br>
                    پنج‌شنبه‌ها ساعت ۹:۰۰ صبح تا ۴:۰۰ بعدازظهر<br>
                </div>
            </MudItem>
            <MudItem xs="12" sm="3">
                <div class="yellow">
                    دفتر مرکزی
                </div>
            </MudItem>
            <MudItem xs="12" sm="9">
                <div style="font-size: 17px; line-height: 1.7;">
                    تهران - میدان بهارستان - خیابان صفی علیشاه<br>
                    کوچه صفی - بن‌بست سپیده - پلاک ۴ واحد ۳
                </div>
            </MudItem>
            <MudItem xs="12" sm="3">
                <div class="yellow font14">
                    چاپخانه و کارگاه
                </div>
            </MudItem>
            <MudItem xs="12" sm="9">
                <div style="font-size: 17px; line-height: 1.7;">
                    خیابان انقلاب - نبش خیابان نامجو شمالی <br> مجتمع فرهنگی امام رضا (ع)
                </div>
            </MudItem>
        </MudGrid>

        <div class="box-header tel-width bg-pr mt-7 text-white" onclick="window.location.href='tel:02128429040'" style="cursor:pointer">
            <span style="font-size:22px">تلفن گویا &nbsp : &nbsp&nbsp&nbsp</span>
            <span style="direction:ltr; unicode-bidi: plaintext;font-family: Arial, sans-serif !important;font-size: 28px;
    vertical-align: middle;">021 2842 90 40</span>
        </div>

        <table class="tel-width" style="width: 100%; border-collapse: collapse; font-size: 15px;">
            <tr>
                <td style="background-color: #e6e7e9;" class="py-1 ps-4">پاکت‌های اداری، آزمایشگاهی و بیمارستانی</td>
                <td style="background-color: #ffffff;text-align: center;" class="px-1">کلید ۱</td>
            </tr>
            <tr>
                <td style="background-color: #ffffff;" class="py-1 ps-4">پاکت‌های محرمانه و صنعتی</td>
                <td style="background-color: #e6e7e9;text-align: center;" class="px-1">کلید ۲</td>
            </tr>
            <tr>
                <td style="background-color: #e6e7e9;" class="py-1 ps-4">پاکت‌های خرید و پاکت‌های اختصاصی</td>
                <td style="background-color: #ffffff;text-align: center;" class="px-1">کلید ۳</td>
            </tr>
            <tr>
                <td style="background-color: #ffffff;" class="py-1 ps-4">پیگیری سفارشات</td>
                <td style="background-color: #e6e7e9;text-align: center;" class="px-1">کلید ۴</td>
            </tr>
            <tr>
                <td style="background-color: #e6e7e9;" class="py-1 ps-4">واحد فرم بندی و چاپ</td>
                <td style="background-color: #ffffff;text-align: center;" class="px-1">کلید ۵</td>
            </tr>
            <tr>
                <td style="background-color: #ffffff;" class="py-1 ps-4">واحد ارسال و تحویل</td>
                <td style="background-color: #e6e7e9;text-align: center;" class="px-1">کلید ۶</td>
            </tr>
            <tr>
                <td style="background-color: #e6e7e9;" class="py-1 ps-4">واحد مالی</td>
                <td style="background-color: #ffffff;text-align: center;" class="px-1">کلید ۷</td>
            </tr>
            <tr>
                <td style="background-color: #ffffff;" class="py-1 ps-4">واحد گارانتی</td>
                <td style="background-color: #e6e7e9;text-align: center;" class="px-1">کلید ۸</td>
            </tr>
            <tr>
                <td style="background-color: #e6e7e9;" class="py-1 ps-4">مدیریت</td>
                <td style="background-color: #ffffff;text-align: center;" class="px-1">کلید ۹</td>
            </tr>
            <tr>
                <td style="background-color: #ffffff;" class="py-1 ps-4">تماس با اپراتور</td>
                <td style="background-color: #e6e7e9;text-align: center;" class="px-1">کلید ۰</td>
            </tr>
        </table>
    </MudItem>

    <MudItem sm="5" xs="12" Class="d-flex flex-column justify-start">
        <div class="tel-width" style="margin-top: 25px;">
            <a href="https://www.google.com/maps/dir//35.6954039,51.4306864/@@35.6951991,51.4307897,17.5z" target="_blank">
                <MudImage Src="Images/map.jpg" Fluid Style="width:100%" />
            </a>
            <div class="box-header bg-pr2 mt-2 text-white" style="margin-top: 48px !important;">
                خط مستقیم
            </div>

            <table class="tel-width" style="width: 100%; border-collapse: collapse; font-size: 15px;">
                <tr onclick="window.location.href='tel:09012121436'" style="cursor:pointer">
                    <td style="background-color: #ffffff;" class="py-1 ps-4">واحد سفارشات و دریافت فایل</td>
                    <td style="background-color: #e6e7e9;text-align: center;direction:ltr">0901 2121 436</td>
                </tr>
                <tr onclick="window.location.href='tel:09012121437'" style="cursor:pointer">
                    <td style="background-color: #e6e7e9;" class="py-1 ps-4">واحد فرم بندی و چاپ</td>
                    <td style="background-color: #ffffff;text-align: center;direction:ltr">0901 2121 437</td>
                </tr>
                <tr onclick="window.location.href='tel:09012121438'" style="cursor:pointer">
                    <td style="background-color: #ffffff;" class="py-1 ps-4">واحد حسابداری و مالی</td>
                    <td style="background-color: #e6e7e9;text-align: center;direction:ltr">0901 2121 438</td>
                </tr>
                <tr onclick="window.location.href='tel:09012121465'" style="cursor:pointer">
                    <td style="background-color: #e6e7e9;" class="py-1 ps-4">واحد گارانتی محصولات</td>
                    <td style="background-color: #ffffff;text-align: center;direction:ltr">0901 2121 465</td>
                </tr>
                <tr onclick="window.location.href='tel:09012121467'" style="cursor:pointer">
                    <td style="background-color: #ffffff;" class="py-1 ps-4">ارسال سفارش شهرستان</td>
                    <td style="background-color: #e6e7e9;text-align: center;direction:ltr">0901 2121 467</td>
                </tr>
                <tr onclick="window.location.href='tel:09012121476'" style="cursor:pointer">
                    <td style="background-color: #e6e7e9;" class="py-1 ps-4">ارسال سفارش تهران و کرج</td>
                    <td style="background-color: #ffffff;text-align: center;direction:ltr">0901 2121 476</td>
                </tr>
                <tr onclick="window.location.href='tel:09124205810'" style="cursor:pointer">
                    <td style="background-color: #ffffff;" class="py-1 ps-4">مدیر تولید و پشتیبانی</td>
                    <td style="background-color: #e6e7e9;text-align: center;direction:ltr">0912 420 5810</td>
                </tr>
                <tr onclick="window.location.href='tel:09120079679'" style="cursor:pointer">
                    <td style="background-color: #e6e7e9;" class="py-1 ps-4">مدیریت امور مشتریان</td>
                    <td style="background-color: #ffffff;text-align: center;direction:ltr">0912 007 9679</td>
                </tr>
            </table>
        </div>
    </MudItem>
</MudGrid>

@* <div class="mud-typography-align-center mb-10" style="line-height: 2;">
    <div class="font17">آدرس چاپخانه و کارگاه :</div>
    <div class="font17">خیابان انقلاب ، نبش خیابان نامجو شمالی ، مجتمع فرهنگی امام رضا (ع)</div>
</div> *@

<style>
    .yellow {
        background-color: #fecc00;
        color: white;
        font-weight: bold;
        padding: 5px 12px;
        border-radius: 6px;
        display: flex;
        width: 123px;
        height: 55px;
        justify-content: center;
        font-size: 19px;
        align-items: center;
    }

    .tel-width {
        width: 100%;
        max-width: 405px;
    }

    .box-header {
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        border-radius: 6px 6px 0 0;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @@media (max-width: 576px) {
        .tel-width {
            max-width: 100% !important;
        }

        .box-header {
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
</style>

@code {
}