USE [KomaeiSample]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025-11-14 21:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025-11-14 21:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[FileName] [char](36) NOT NULL,
	[FileExtension] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Title]) VALUES (1, N'دسته 1')
INSERT [dbo].[Category] ([Id], [Title]) VALUES (2, N'دسته 2')
INSERT [dbo].[Category] ([Id], [Title]) VALUES (4, N'دسته 3')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [CategoryId], [Title], [Price], [FileName], [FileExtension]) VALUES (100, 1, N'محصول 1', CAST(1000 AS Decimal(18, 0)), N'aaa                                 ', N'.jpg')
INSERT [dbo].[Product] ([Id], [CategoryId], [Title], [Price], [FileName], [FileExtension]) VALUES (101, 1, N'محصول 2', CAST(2222 AS Decimal(18, 0)), N'2e09f442-f48d-4947-810e-35c8d04fb3b8', N'.jpg')
INSERT [dbo].[Product] ([Id], [CategoryId], [Title], [Price], [FileName], [FileExtension]) VALUES (102, 2, N'محصول دوم', CAST(2222222 AS Decimal(18, 0)), N'291af674-8eeb-433f-aaa3-f8888923ca05', N'.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
